body{
    padding-right: 500px;
    padding-left: 500px;
}
#head{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-image: url("http://itb.mateuyabar.com/DAM-M04/UF1/exams/grass.jpg");
    width: 100%;
    height: 100%;
    color: white;
}
#links{
    flex-direction: column;
}
#cuadro{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: lightgoldenrodyellow;
    width: 7%;
    height: 20%;
    float: right;
    padding-bottom: 130px;
    padding-left: 2px;
    padding-right: 2px;
}
column{
    float: left;
    width: 33.33%;
    background-color: white;
}
#bobby{
    background-color: darkgrey;
    width: 100%;
    padding-bottom: 5px;
}
img{
    width: 154px;
    float: left;
}
@media (min-width: 1000px){
    body{
        padding-left: 0px;
        padding-bottom: 0px;
    }
}